<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Admin Dashboard</a>
      <a class="navbar-brand" routerLink="/all-users">All Users</a>

        <form class="d-flex input-group w-auto">
          <button class="btn " type="button" (click)="logOut()">
            Logout
          </button>
        </form>
      </div>
  </nav>
<div class="container mt-5">
   
    <h2>Users List</h2>
     
    <table class="table table-striped">
      <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of allusers">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>